@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --blue-green: #2F3E46;
  --dark-green: #354F52;
  --eucalyptus: #84A98C;
  --dark-eucalyptus: #52796F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --blue-green: #2F3E46;
    --dark-green: #354F52;
    --eucalyptus: #84A98C;
    --dark-eucalyptus: #52796F;
  }
}

body {
  color: var(--blue-green);
  background: var(--background);
  font-family: 'Lexend Deca', 'Montserrat', 'Roboto Flex', Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--dark-green);
}

h2, h3, h4 {
  color: var(--dark-eucalyptus);
}

a, button {
  color: var(--eucalyptus);
}